<div id="aboutContainer" class="container" ng-controller="AboutCtrl" ng-init="init()">
  <h3>About GTDoneJS</h3>
  <section>
    <h4>What is GTD ?</h4>

    <p>
      GTD is for "Getting Things Done", a time-management methodology that helps you with day to day tasks.
    </p>

    <p>
      <a href="http://en.wikipedia.org/wiki/Getting_Things_Done" target="_blank">More informations</a>
    </p>
  </section>
  <section>
    <h4>Why GTDoneJS ?</h4>

    <p>
      Because I did not find any good gui app that follows the excellent <a href="http://todotxt.com/" target="_blank">todotxt</a>
      open format.
    </p>
  </section>
  <section>
    <h4>How is it done ?</h4>

    <p>
      GTDoneJS is powered by :
    <ul class="poweredby">
      <li><a href="http://nodejs.org/" target="_blank">Node</a></li>
      <li><a href="https://github.com/rogerwang/node-webkit" target="_blank">node-webkit</a></li>
      <li><a href="http://angularjs.org/" target="_blank">AngularJS</a></li>
      <li><a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a></li>
    </ul>
    </p>
  </section>
</div>